 #yin-yang {
  width: 96px;
  height: 48px;
  background: #eee;
  border-color: red;
  border-style: solid;
  border-width: 2px 2px 50px 2px;
  border-radius: 100%;
  position: relative;
}

 #yin-yang:before {
  content: "";
  position: absolute;
  top: 50%;
  left: 0;
  background: #eee;
  border: 18px solid red;
  border-radius: 100%;
  width: 12px;
  height: 12px; }

 #yin-yang:after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  background: red;
  border: 18px solid #eee;
  border-radius:100%;
  width: 12px;
  height: 12px;
}

#a {
  content: "";
  position: absolute;
  top: 50%;
  left: 0;
  background: #eee;
  border: 18px solid red;
  border-radius: 100%;
  width: 12px;
  height: 12px;
  display: inline;
}

 #b {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  background: red;
  border: 18px solid #c3e1ba;
  border-radius:100%;
  width: 12px;
  height: 12px;
  display: inline;
}

#c {
  content: "";
  position: absolute;
  top: 40%;
  left: 10%;
  background: #eee;
  border: 18px solid red;
  border-radius: 100%;
  width: 12px;
  height: 12px;
  display: inline;
}

 #d {
  content: "";
  position: absolute;
  top: 40%;
  left: 60%;
  background: red;
  border: 18px solid #c3e1ba;
  border-radius:100%;
  width: 12px;
  height: 12px;
  display: inline;
}

#e {
  content: "";
  position: absolute;
  top: 50%;
  left: 20%;
  background: #eee;
  border: 18px solid red;
  border-radius: 100%;
  width: 12px;
  height: 12px;
  display: inline;
}

 #f {
  content: "";
  position: absolute;
  top: 50%;
  left: 70%;
  background: red;
  border: 18px solid #c3e1ba;
  border-radius:100%;
  width: 12px;
  height: 12px;
  display: inline;
}

#g {
  content: "";
  position: absolute;
  top: 40%;
  left: 30%;
  background: #eee;
  border: 18px solid red;
  border-radius: 100%;
  width: 12px;
  height: 12px;
  display: inline;
}

 #h {
  content: "";
  position: absolute;
  top: 40%;
  left: 80%;
  background: red;
  border: 18px solid #c3e1ba;
  border-radius:100%;
  width: 12px;
  height: 12px;
  display: inline;
}

svg {
  overflow: visible;
  /*background-image: url("http://www.example.com/bck.png");*/
  /*overflow-x: hidden;*/
 /*position: fixed;*/
}

/*body {
  min-height: 100vh;
  overflow-x: hidden;
  background-image: url("fan.pattern.jpg");
  /*position: fixed*/


/*div {
  height: 100%;
  background-image: url("fan.pattern.jpg");
}*/

.parallax {
  perspective: 1px;
  height: 100vh;
  overflow-x: hidden;
  overflow-y: auto;
  background-image: url("fan.pattern.jpg");
}
.parallax__layer {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
.parallax__layer--base {
  transform: translateZ(0) scale(1);
}
.parallax__layer--back {
  transform: translateZ(-1px) scale(2);
}
.parallax__layer--back--2 {
  transform: translateZ(-2px) scale(3);
}

.parallax__layer--back--3 {
  transform: translateZ(-3px) scale(4);
}
.parallax__layer--back--4 {
  transform: translateZ(-4px) scale(5);
}

.parallax__layer--back--5 {
  transform: translateZ(-5px) scale(6);
}

.parallax__layer--back--6 {
  transform: translateZ(-6px) scale(7);
}
.parallax__group {
  position: relative;
  height: 100vh;
  transform-style: preserve-3d;
}

/*path {
  stroke-dasharray: 1000;
  stroke-dashoffset: 1000;
  animation: dash 5s linear forwards;
}

@keyframes dash {
  to {
    stroke-dashoffset: 0;
  }
}*/
