
.parallax {
  perspective: 1px;
  height: 100vh;
  overflow-x: hidden;
  overflow-y: auto;
  background-image: url("../assets/fan.pattern.jpg");
}

.parallax__layer {
    overflow: visible;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
.parallax__layer--base {
  transform: translateZ(0) scale(1);
}
.parallax__layer--back--1 {
  transform: translateZ(-1px) scale(2);
}
.parallax__layer--back--2 {
  transform: translateZ(-2px) scale(3);
}

.parallax__layer--back--3 {
  transform: translateZ(-3px) scale(4);
}
.parallax__layer--back--4 {
  transform: translateZ(-4px) scale(5);
}

.parallax__layer--back--5 {
  transform: translateZ(-5px) scale(6);
}

.parallax__layer--back--6 {
  transform: translateZ(-6px) scale(7);
}
.parallax__layer--back--7 {
  transform: translateZ(-7px) scale(8);
}
.parallax__layer--back--8 {
  transform: translateZ(-8px) scale(9);
}
.parallax__layer--back--9 {
  transform: translateZ(-9px) scale(10);
}
.parallax__layer--back--10 {
  transform: translateZ(-10px) scale(11);
}
.parallax__layer--back--11 {
  transform: translateZ(-11px) scale(12);
}
.parallax__layer--back--12 {
  transform: translateZ(-12px) scale(13);
}
.parallax__layer--back--13 {
  transform: translateZ(-13px) scale(14);
}
.parallax__layer--back--14 {
  transform: translateZ(-14px) scale(15);
}
.parallax__layer--back--15 {
  transform: translateZ(-15px) scale(16);
}
.parallax__layer--back--16 {
  transform: translateZ(-16px) scale(17);
}
.parallax__layer--back--17 {
  transform: translateZ(-17px) scale(18);
}
.parallax__layer--back--18 {
  transform: translateZ(-18px) scale(19);
}
.parallax__layer--back--19 {
  transform: translateZ(-19px) scale(20);
}
.parallax__layer--back--20 {
  transform: translateZ(-20px) scale(21);
}
.parallax__layer--inf {
  transform: translateZ(-2000px) scale(2001);
}

.flower {
  position: fixed;
}



html, body { padding: 0; margin: 0; font-family: 'Inknut Antiqua', serif; color: #000;}

h1 {
    text-align: center;
  margin-top: 7%;
  display: block;
  position: fixed;
  width: 100%;
  background-color: white;
}

 ul {
    list-style-type: none;
    text-align: right;
    margin: 0;
    padding: 0;
    border-style: solid;
    border-width: 2px;
}

 li {
    display: inline;
    padding: 20px;
    width: 15%;
}

a {
  text-decoration: none;
}

.navBar a:link {
  color: #000
}

.navBar a:visited {
  color: #000;
}

.navBar a:focus {
  border-bottom: 1px solid;
  background: #dbdde0;
}

.navBar a:hover {
  border-bottom: 1px solid;
  background: #dbdde0;
}

hr {
  margin: 0 15%;
  border-style: solid;
  border-width: 1px;
  display: block;
  clear: both;
}

.projects {
  margin-top: 14%;
}


.project-left h2 {
  margin-left: 15%;
}

.project-left a {
  margin-left: 15%;
  color: #5387db;
}

.project-left a:hover {
  background: rgba(183, 201, 230, 0.5);
}

.project-left .project-img {
  max-height: 300px;
  display: inline;
  float: right;
  margin-right: 10%;
}

.project-left h4 {
  margin-left: 15%;
  margin-right: 15%;
  margin-bottom: 10%;
}

.project-right div {
  display: inline;
  width: 30%;
  /*position: relative;*/
}

.project-right h2 {
  float: right;
  margin-right: 15%;
  margin-top: 2%;
}

.project-right a {
  margin-right: 15%;
  float: right;
  color: #5387db;
/*  position: absolute;
  bottom: 0;*/
}

.project-right a:hover {
  background: rgba(183, 201, 230, 0.5);
}

.project-right .project-img {
  max-height: 300px;
  display: inline;
  float: left;
  margin-left: 10%;
  margin-top: 4%;
}

.project-right h4 {
  text-align: right;
  margin-right: 15%;
  margin-bottom: 5%;
  clear: right;
}

 body {
    background-image: url("../assets/gray.pattern.jpg");
    background-size: 15px;
    background-repeat: repeat;
}

.navBar {
  position: fixed;
  top: 0;
  display: block;
  width: 100%;
  background-color: white;
}

.about{
  background-color: white;
  width: 75%;
  margin: auto;
  margin-top: 5%;
}

.about h1 {
/*    background-color: white;*/
  width: 75%;
  margin: auto;
/*  margin-top: 10%;*/
}

